* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetika ,sans-serif;
  line-height: 1.6;
  color: $dark-grey;
}

h2 {
  font-size: 2rem;
}

button {
  cursor: pointer;
  &:disabled {
    cursor: default;
  }
}

.active-link {
  font-weight: bold;
}
